src/config.local
src/image/*.zip
src/image/*.xz
**/key.json
ubuntu-2004-adu/src/workspace/mount
ubuntu-2004-adu/src/workspace/aptcache
ubuntu-2004-adu/src/workspace/*.img
ubuntu-2004-adu/src/image/*.xz
build.log
